<p>This is <b>very alpha</b> and there is not much to see yet unless you are a coder. Transiki is a wiki of transit data. Think a blend of google transit and openstreetmap.

<p>You can look at the <a href="http://blog.transiki.org/">blog</a> and <a href="http://lists.transiki.org/mailman/listinfo/talk">mailing list</a> and <a href="http://github.com/SteveC/transiki/">code</a>.

<% if @user %>
<p><%= link_to 'new point', new_point_path %>
<% end %>

