<%= form_for(@old_route) do |f| %>
  <% if @old_route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@old_route.errors.count, "error") %> prohibited this old_route from being saved:</h2>

      <ul>
      <% @old_route.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
